.about-page {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.logo {
  max-width: 40px;
  text-align: center;

  transition: all 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.2);
}
