.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  width: fit-content;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgb(51 52 57 / 44%);
  border-radius: 10px;
  padding: 20px;

  margin-bottom: 30px;
}

main.dark .search {
  background-color: rgba(215, 215, 219, 0.322);
}

input {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid #f3f0bf;
  text-align: left;
  min-width: 350px;
}
